mat-form-field{
     margin-top: 10px; 
    margin-left: 100px; 
     width:200%; 
    margin-right:10px; 

}
.space{
    width:10%;
}
 button{
    margin-left: 65px;
    margin-top: 10px; 
  }
  .example-full-width {
    width: 100%;
  }
  .hello{
    margin-left: 100px; 
    margin: "center";
  }

 


 

 